<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Detecção em Tempo Real</title>
    <style>
        body {
            text-align: center;
            background-color: #f2f2f2;
        }
        h1 {
            color: #333;
        }
        video, img {
            border: 2px solid #333;
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>Detecção em Tempo Real</h1>
    <!-- Display the user's webcam feed -->
    <video id="video" width="400" autoplay muted></video>
    <!-- Display the processed video feed -->
    <img id="processedVideo" width="400" />

    <script src="/static/script.js"></script> <!-- Ajuste o caminho conforme necessário -->
    <script>
        // Function to update the processed video feed
        function updateProcessedVideo() {
            const processedVideo = document.getElementById('processedVideo');
            processedVideo.src = `http://localhost:8000/video_feed?${new Date().getTime()}`;
        }

        // Call updateProcessedVideo every second to refresh the image
        setInterval(updateProcessedVideo, 1000);

        // Start the video stream
        startVideo();
    </script>
</body>
</html>
